<div class="page-sidebar " id="main-menu">
        
    <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
      <!-- BEGIN SIDEBAR MENU -->
      <p class="menu-title sm">BROWSE <span class="pull-right"><a href="javascript:;"><i class="material-icons">refresh</i></a></span></p>
      <ul>
        <li class="start "> 
          <a href="/"><i class="material-icons">home</i> <span class="title">Dashboard</span> <span class="selected"></span> </a>
        </li>

        <li>
          <a href="javascript:;"> <i class="material-icons">invert_colors</i> <span class="title">履歷</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="/resume">編輯</a> </li>
          </ul>
        </li>
       
      </ul>
      
      <div class="clearfix"></div>
      <!-- END SIDEBAR MENU -->
    </div>
</div>