<div class="education-items">
    <hr/>
    <div class="form-group">
        <label class="form-label">學校</label>
        <input class="form-control school-name" id="form1Name" name="form1Name" type="text" required>
    </div>
    
    <div class="form-group">
        <label class="form-label">期間</label>
        <div class="row form-row">
        <div class="col-md-6">
            <input id="form3City" type="text" class="form-control school-start-time" placeholder="開始時間">
        </div>
        <div class="col-md-6">
            <input id="form3State" type="text" class="form-control school-end-time" placeholder="結束時間">
        </div>
        </div>
    </div>
    
    <div class="form-group">
        <label class="form-label">敘述</label>
        <input class="form-control school-description" id="form1Phone" name="form1Phone" type="text" required>
    </div>
    
    <button class="btn btn-warning btn-cons school-delete" type="button">刪除</button>
</div>

